/*
    ==============================================
                ****** Global styles ******
    ==============================================
*/

body {
    margin: 0;
}

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/*
    ==============================================
                ****** NAVBAR STYLE ******
    ==============================================
*/

body {
    background-color: hsl(218, 28%, 13%) !important;
}
ul {
    justify-content: space-between;
}

.my-item {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

/*
    ==============================================
     ****** MAIN PAGE STYLE ******
    ==============================================
*/

main {
    background-image: url(images/bg-curvy-desktop.svg);
}

.start {
    color: white;
}

p {
    font-size: 0.8rem;
}

.my-btn {
    background-color: hsl(198, 60%, 50%);
    width: 20%;
    border-radius: 15px;
    color: white;
    border: 1px solid  hsl(198, 60%, 50%);
}

.see {
    color: hsl(176, 68%, 64%);
}

.see:hover {
    color: hsl(176, 68%, 64%);
}

.crd {
    background-color: hsl(219, 30%, 18%);
}

.person {
    justify-content: center;
}

.content {
    justify-content: center;
    margin-left: 3rem;
}
.prof {
    width: 50%;
}

.text {
    padding-top: 0.5rem;
    line-height: 0.2rem;
}

.access {
    background-color: hsl(217, 28%, 15%);
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0 ;
}

.access-btn {
    background-color: hsl(198, 60%, 50%);
    width: 22%;
    border-radius: 20px;
    color: white;
    border: 1px solid  hsl(198, 60%, 50%);
}

input {
    border-radius: 25px;
}

footer {
    background-color:  hsl(216, 53%, 9%);
    padding-bottom: 2rem;
}

.contact {
    width: 15%;
    height: 15%;
    padding-right: 1em;
}

.links {
    color: white;
    text-decoration: none;
    display: block;
}

.icon {
    padding: 1.5rem;
    color: white;
}

.icon:hover {
    color:  hsl(198, 60%, 50%);
}

.names {
    color:  hsl(198, 60%, 50%);
    text-decoration: none;
}

/*
    ==============================================
     ****** MEDIA QUERIES FOR******
    ==============================================
*/

@media only screen and (max-width: 1024px) {
    .words {
        width: 140%;
        font-size: 0.5rem;
        padding-right: 2rem;
    }

    .access-btn {
        width: 40%;
    }

    .contact {
        width: 2rem;
    }
}