/*
    ==============================================
                ****** Global styles ******
    ==============================================
*/

body {
    margin: 0;
}

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/*
    ==============================================
                ****** NAVBAR STYLE ******
    ==============================================
*/

body {
    background-color: hsl(218, 28%, 13%) !important;
}
ul {
    justify-content: space-between;
}

.my-item {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

/*
    ==============================================
     ****** MAIN PAGE STYLE ******
    ==============================================
*/

main {
    background-image: url(images/bg-curvy-desktop.svg);
}

.start {
    color: white;
}

p {
    font-size: 0.8rem;
}

.my-btn {
    background-color: hsl(198, 60%, 50%);
    width: 12%;
    border-radius: 15px;
}

.see {
    color: hsl(176, 68%, 64%);
}

.see:hover {
    color: hsl(176, 68%, 64%);
}

.crd {
    background-color: hsl(219, 30%, 18%);
}

.person {
    justify-content: center;
}

.content {
    justify-content: center;
    margin-left: 3rem;
}
.prof {
    width: 50%;
}

.text {
    padding-top: 0.5rem;
    line-height: 0.2rem;
}